/* Add custom styles here */
body {
  background-color: #000;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fff;
}
.dark-header {
  background-color: #111;
  color: white;
}
.dark-sidebar {
  background-color: #111;
  color: white;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.dark-content {
  margin-left: 250px;
  padding: 20px;
}
.dark-footer {
  background-color: #111;
  color: white;
}
